@(title: String)

<section id="top">
    <div id="headBanner">
       <span class="titleImage">
           <img src="@routes.Assets.versioned("images/rainCloud.gif")">
       </span>
        <span id="titleText">@title</span>
        <span class="titleImage">
            <img src="@routes.Assets.versioned("images/rainCloud.gif")">
        </span>
        <span id="subTitleText">Where are you going today?</span>
    </div>
</section>
<section id="controls">
    <div class="formContainer">
        <form id="requestWeatherForm">
            <input id="cityName" placeholder="City : Des Moines, Iowa" type="text" maxlength="50"/>
            <button id="submitWeatherQuery">Submit</button>
        </form>
    </div>
</section>
<section id="queryResults">
    <div id="currentWeather">

    </div>
</section>
